---
apiVersion: rbac.authorization.k8s.io/v1
kind: Role
metadata:
  name: chinna-app-role
  namespace: default
rules:
  - apiGroups: [""]
    resources:
      - pod
      - Services
      - endpoints
      - configmaps
    verbs:
       - get 
       - list 
       - watch  
       - delete 
       - write